Source: ros-hydro-object-recognition-reconstruction
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-cmake-modules, ros-hydro-ecto, ros-hydro-ecto-image-pipeline, ros-hydro-ecto-pcl, ros-hydro-object-recognition-core, ros-hydro-opencv-candidate, ros-hydro-sensor-msgs
Homepage: http://wg-perception.github.io/reconstruction/
Standards-Version: 3.9.2

Package: ros-hydro-object-recognition-reconstruction
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, meshlab, ros-hydro-ecto, ros-hydro-ecto-image-pipeline, ros-hydro-ecto-pcl, ros-hydro-object-recognition-core, ros-hydro-opencv-candidate
Description: basic 3d reconstruction of an object from aligned Kinect data
